@model List<Contato>
@{
    ViewData["Title"] = "Criando Contatos";
}
<div class="text-center">
    <h1 class="display-4">Adcionar Contatos</h1>
    <table class="table">
        <thead>
             <a class="btn btn-primary" id="adcionar" role="button" asp-area="Contatos" asp-action="Cadastrar">Adcionar contato</a>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
         @if(Model != null && Model.Any()){
            foreach(Contato contato in Model){
   <tr>
                <th scope="row">@contato.Id</th>
                <td>@contato.Name</td>
                <td>@contato.Email</td>
                <td>@contato.Phone</td>
                <td>
                    <a class="btn btn-primary" asp-route-id="@contato.Id" asp-area="Contatos" asp-action="Editar" role="button">Editar</a>
                    <a class="btn btn-outline-danger" asp-route-id="@contato.Id" asp-area="Contatos" asp-action="Apagar" role="button">Apagar</a>
                </td>
            </tr>
            }
         }
        </tbody>
    </table>
</div>